head
	title= title
	include meta
	//if lt IE 9
		script(src='#{commonJsSrc}/html5.js')
		script(src='http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js')
	link(rel='stylesheet', href='#{commonCssSrc}/common.min.css')
