ul#socialBtns
	li.google
		.g-plusone(data-size='medium')
	li.twitter
		a.twitter-share-button(href='https://twitter.com/share', data-url='#{og.url}', data-text='#{twitter.tweet}', data-lang='#{twitter.lang}') Tweet
	li.facebook
		div.fb-like(data-send='false', data-layout='button_count', data-width='130', data-show-faces='false')