@-webkit-keyframes blink2 {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink2 {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink2 {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink2 {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink2 {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.crisp-edges {
  image-rendering: -moz-crisp-edges;
  /* Firefox */

  image-rendering: -o-crisp-edges;
  /* Opera */

  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */

  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */

}
.preserve3d {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}
/*
* {
	margin: 0;
	padding: 0;
	font-size: 100.00%;
	font-style: normal;
}*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
html {
  overflow-y: scroll;
}
body {
  background-color: #FFFFFF;
  font-size: 13px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "メイリオ", "ＭＳ Ｐゴシック", "MotoyaLCedar W3 mono", sans-serif;
  color: #000;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
.ie7 body,
.ie6 body {
  font-size: small;
  font: x-small;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active,
a:focus {
  outline: none;
}
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
dt {
  display: block;
  width: auto;
}
table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  empty-cells: show;
}
td,
th {
  vertical-align: top;
}
th {
  font-weight: normal;
  text-align: left;
}
caption {
  text-align: left;
}
/*6. Image Module*/
/*  イメージをボックス上に接させる。
	safariでおかしくなるのでtopをdefault。場合によりbottomにすることも
-----------------------------------*/
img {
  background-color: transparent;
  vertical-align: top;
}
a img {
  border: none;
}
br {
  letter-spacing: normal;
}
abbr {
  border-bottom: 1px dashed #999;
  cursor: help;
}
pre,
code,
samp,
kbd,
var {
  font-family: Monaco, 'Andale Mono', "Courier New", Courier, monospace;
}
kbd {
  border: 1px solid #999999;
  padding: 0.2em 0.4em;
  text-transform: uppercase;
  font-size: 83%;
}
dfn {
  font-weight: bold;
}
cite {
  font-weight: bold;
}
sup,
sub {
  font-size: 75%;
}
hr {
  height: 1px;
}
input,
textarea,
select,
option,
optgroup {
  vertical-align: middle;
  background-color: #FFF;
}
select {
  min-width: 2em;
}
option,
optgroup {
  padding-right: 0.4em;
  color: inherit;
  /* for Opera(Operaは継承してくれない)*/
}
fieldset {
  border: none;
}
legend {
  display: none;
}
/*  input & label & option mousePointer
-----------------------------------*/
label[for],
input[type="checkbox"],
input[type="radio"],
input[type="button"],
input[type="image"],
input[type="reset"],
input[type="submit"],
select,
option {
  cursor: pointer;
}
optgroup {
  cursor: default;
}
section {
  clear: both;
  margin-bottom: 3em;
}
section section {
  margin-bottom: 2em;
}
article.main p {
  margin-bottom: 0.8em;
}
/*  pageTop*/
article.main .pageTop {
  clear: both;
  text-align: right;
}
/*  5. Text(inline) Style*/
.txtCenter {
  text-align: center;
}
.txtRight {
  text-align: right;
}
.txtIndent {
  text-indent: -9999px;
}
/*  6. Form Element*/
input.check,
input.radioBtn {
  margin: 0 5px;
}
/* 7. Float Img Style*/
img.floatL {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
img.floatR {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}
/* 8. hn Style*/
.hnImg01 {
  margin-bottom: 15px;
}
.hnImg02 {
  margin-bottom: 15px;
}
.hnImg03 {
  margin-bottom: 15px;
}
.hnTxt01 {
  margin-bottom: 30px;
  border-bottom: 4px solid #FFFFFF;
  color: #FFF;
  font-size: 36px;
  font-weight: bold;
}
.hnTxt02 {
  margin-bottom: 32px;
  border-bottom: 1px solid #FFFFFF;
  font-size: 30px;
  font-weight: bold;
}
.hnTxt03 {
  margin-bottom: 15px;
}
hr.none {
  display: none;
}
hr.clear {
  clear: both;
  visibility: hidden;
  height: 1px;
}
div.error,
div.notice,
div.success {
  margin-bottom: 1.5em;
  padding: 0.8em 0.8em 0;
}
div.error {
  background: #FBE3E4;
  border: 2px solid #FBC2C4;
  color: #D12F19;
}
div.notice {
  background: #FFF6BF;
  border: 2px solid #FFD324;
  color: #817134;
}
div.success {
  background: #E6EFC2;
  border: 2px solid #C6D880;
  color: #529214;
}
.clear {
  clear: both;
}
/*  コードヒント用
-----------------------------------*/
.jsClear {
  clear: both;
  height: 0;
}
/* 99. clearFix*/
.clearfix:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
}
@-webkit-keyframes blink2 {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink2 {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink2 {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink2 {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink2 {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.crisp-edges {
  image-rendering: -moz-crisp-edges;
  /* Firefox */

  image-rendering: -o-crisp-edges;
  /* Opera */

  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */

  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */

}
.preserve3d {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}
body {
  color: #009fe5;
}
#screenRect {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  visibility: hidden;
}
div#wrapper {
  text-align: left;
  width: 820px;
  margin: auto;
  padding-bottom: 100px;
}
header#globalHeader {
  position: relative;
  z-index: 11;
  width: 749px;
}
#globalFooter {
  width: 100%;
  background: #000;
  position: fixed;
  bottom: 0px;
  height: 35px;
  z-index: 10000;
}
